@import './common/reset.scss';
@import './common/variable.scss';

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.clearfix:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    clear: both;
}
